<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852702009688-inlbpod4s4lc07jh0ona1a1vqv48od3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852702009688-inlbpod4s4lc07jh0ona1a1vqv48od3k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852702009688-7s34cgagtfvqaeb5l4f1k6u39d1igibh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkwGM8lgkq0Y8SVIY0cipZqSixtFCgcws</string>
	<key>GCM_SENDER_ID</key>
	<string>852702009688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnnotifications</string>
	<key>PROJECT_ID</key>
	<string>test-cce77</string>
	<key>STORAGE_BUCKET</key>
	<string>test-cce77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852702009688:ios:a624587276e8ef20ce6d2d</string>
	<key>DATABASE_URL</key>
	<string>https://test-cce77.firebaseio.com</string>
</dict>
</plist>